<div class="list-component">
  <div class="list-component__actions">
  </div>
  <div class="list-component_content">
    <table>
      <tr>
        <th *ngFor="let column of columns">{{column.label}}</th>
      </tr>
      <tr *ngFor="let product of products">
        <td>
          <img class="logo" [src]="product.logo" [alt]="product.name" width="50" height="60">
        </td>
        <td>{{product.name}}</td>
        <td>{{product.description}}</td>
        <td>{{product.date_release | date: 'dd/MM/yyyy'}}</td>
        <td>{{product.date_revision | date: 'dd/MM/yyyy'}}</td>
      </tr>
    </table>
  </div>
</div>
